[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TrackTrap"]
	path = TrackTrap
	url = https://github.com/santosh4355/tracktrap
